<p id="notice"><%= notice %></p>

<h1 class="title">All Posts</h1>

<table>
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="title">Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="post_title"><%= post.title %></td>
        <td class="post_content">"<%= post.content %>"</td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: 'btn' %>

<%= link_to 'See All Users', users_path, class: 'btn' %>

<h1 class="title">Gross Site Activity</h1>

<%= line_chart @events %>

<h1 class="title">Index Page Visits</h1>

<%= area_chart @index_visits %>

<h1 class="title">Browser Usage</h1>

<%= pie_chart @browsers %>

<h1 class="title">Locations</h1>

<%= geo_chart @locations %>